<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8" />
	<title>Test</title>
	<title>Index</title>
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>

<body>
	<div class="nav-item">
		<a class="nav-link" href="/logoutPath">Logout</a>
	</div>

	<div class="container">
		<div>
			<p th:text="${message}"></p>
		</div>
		<div>
			Username with security tag library: <span sec:authentication="name"></span>
		</div>		
	</div>
</body>
</html>